/bin/

*.classpath
.project
/miglayout15-swing.jar
/miglayout-src.zip
src/db.properties
db.properties
src/backend/DataSourceFactory.java
db.properties
src/db.properties
src/backend/DataSourceFactory.java
db.properties
db.properties
src/backend/DataSourceFactory.java
